%h1.text-center Internships

.container
  .row
    - @opportunities.each do |o|
      .col-md-6.col-md-offset-3
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              = link_to o.name, opportunity_path(o)
          .panel-body
            = o.description
