#unitern-navbar
  background: white
  margin-bottom: 0
  padding-top: 20px
  padding-bottom: 20px
  border-bottom: 0


  a
    color: #576366
    font-weight: 500
    font-size: 1.15em

    &:hover
      color: $black - 15

  .open > a
    background-color: transparent

  .dropdown.create-new.open > a
    border-color: $green
    background-color: $green - 15


  .ut-btn.dropdown-toggle
    color: white !important

    &:hover
      background: $green - 15

  .ut-btn.not-auth
    padding: 0 20px
    line-height: 20px
    font-weight: 500
    font-size: 1em
    margin-right: 5px

    a
      color: white !important
